{% extends 'base.html' %}

{% block content %}
    <hr>
    <h1>FORO</h1>
    {% for subforo in subforos %}
        <hr>
        <h2><a href='/foro/subforo/{{subforo.id}}'>{{ subforo.nombre }}</a></h2>
        <img src="/archivos/{{ subforo.icono }}" width="10%" height="10%">
            {% for thread in threads %}
                {% if thread.subforo.id == subforo.id %}
                    <a href='/foro/thread/{{thread.id}}'><p>{{ thread.nombre}}</p></a>
                {% endif %}
            {% endfor %}
    {% endfor %}
{% endblock %}