{% extends 'base.html' %}

{% block content %}

<div class="foro">
    <h1>FORO</h1>
    {% for subforo in subforos %}
    <hr>
    <div class="subforo">
        <h2><a href='/foro/subforo/{{subforo.id}}'>
            <img src="/archivos/{{ subforo.icono }}" >{{ subforo.nombre }}
        </a></h2>
        <div class="threads">
            {% for thread in threads %}
                <div class="thread">
                    {% if thread.subforo.id == subforo.id %}
                        <a href='/foro/thread/{{thread.id}}'><p>{{ thread.nombre}}</p></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}