{% extends 'base.html' %}

{% block content %}
    <h1>Contacto</h1>
    <hr>
    <p>Podes contactarnos para realizar algunas acciones con tu organización, institución, etc.</p>
    <ol>
        <li><b>Email:</b> <a href="pacto.escucha@gmail.com">pacto.escucha@gmail.com</a></li>
        <li><b>Dirección:</b> San Salvador de Jujuy, San Martín, CP. 4600</li>
        <li><b>Telefonico:</b>
            <ul>
                <li>Mesa de entrada: 4314574</li>
                <li>Secretaría: 4310119</li>
            </ul>
        </li>
    </ol>
    <hr>
{% endblock %}