{% extends 'base.html' %}

{% block content %}
<div class="quees">
    <h1>¿Que es #PactoSxE?</h1>
    <p class="texto-explicativo"> 
        {% for t in textos %}
            {{ t.texto|safe }}
        {% endfor %}
    </p>
    <hr>

    <div class="seccion-preguntas-frecuentes">
        <h2>Preguntas Frecuentes:</h2>
        <ul class="preguntas-frecuentes">
            {% for faq in faqs %}
            <li>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ faq.id }}" aria-expanded="false" aria-controls="collapseExample">
                  {{ faq.pregunta }}
                </button>
                <div id="{{ faq.id }}" class="collapse">{{ faq.respuesta | safe }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    window.onload = function()
    {
        $('#1').addClass("in");
    };
</script>

{% endblock %}
