{% extends 'base.html' %}

{% block content %}

    <div class="contenedor">
        <ul class="menu-principal">
            <li class="color1"><a href='/faq/'>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="texto">¿Que es #PactoSxE?</span>
            </a></li>
            
            <li class="color2"><a href='/foro/'>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="texto">Dialoguemos</span>
            </a></li>
            
            <li class="color3"><a href='/biblioteca/'>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="texto">Biblioteca</span>
            </a></li>
            
            <li class="color3"><a href='http://prensa.jujuy.gob.ar/tag/pacto-social-educativo/'>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="texto">Noticias</span>
            </a></li>
            
            <li class="color1"><a href='/calendario/'>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="texto">Agenda</span>
            </a></li>
            
            <li class="color2"><a href='/encontrate/'>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="texto">Encontrate</span>
            </a></li>
        </ul>
    </div>
    <br><br>

{% endblock %}

